<div class="m-1">
    <a class="btn btn-success" [routerLink]="['/project/projectFeedback']">New Feedback</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="colHeads" *ngFor="let colHeads of projectFeedbackCols">{{colHeads|nestedTitle|titlecase}}</th>
            <th scope="colHeads">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let col of projectFeedbackList">
            <td>{{col.id}}</td>
            <td>{{col.user}}</td>
            <td>{{col.project}}</td>
            <td>
                <ul class="list-inline rating-list" *ngFor="let star of stars" style="display: inline-block">
                    <li (click)="countStar(star)" [ngClass]="{'selected': (star <= col.feedback?.rating)}">
                        <i class="fa fa-star fa-lg"></i>
                    </li>
                </ul>
            </td>
            <td>{{col.feedback?.comments}}</td>
            <td>
                <button class="btn" (click)="feedbackEdit(col.id)">
                    <i class="fa fa-edit fa-lg"></i>
                </button>
                <button class="btn" (click)="feedbackDelete(col.id)">
                    <i class="fa fa-trash fa-lg"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>